*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullborder{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 4px solid yellowgreen;
    margin: 50px;
    
}
.horizontal{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 4px solid green;
   border-left: transparent;
   border-right: transparent;
   margin: 50px;
}
.vertical{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 4px solid red;
   border-top: transparent;
   border-bottom: transparent;
   margin: 50px;
}
.radius{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border: 4px solid yellowgreen;
    margin: 50px;
    border-radius: 10px;
    
}